* {
  font-family:  Montserrat , "sans-serif";
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #191929;
}

html::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 0;
}

ul {
  padding: 0;
}

body {
  margin: 0;
  background-color: #1f1f30;
  height: 300rem;
  overflow-x: hidden;
}