header {
  position: relative;
  margin: 0;
  display: flex;
  width: 100%;
  color: white;
  font-size: 14px;
  font-weight: 600;
  box-sizing: border-box;
  background-color: #2d2b43;
}
/*HARUSNYA PAKE DISPLAY FLEX DAN JUSTIFY * ALIGN CONTENT AJA ATUH BIAR G RIBET*/
#header-left {
  display: flex;
}

#menu-btn {
  padding: 0.7rem 1rem;
  width: fit-content;
  font-size: 20px;
  cursor: pointer;
}

.menu-btn-active {
  color: #ffbade;
}

#hianime-logo {
  padding: 0.5rem 0;
  width: 8.6rem;
}

#header-right {
  margin-left: auto;
  display: flex;
}

#search-btn {
  padding: 0.7rem;
  font-size: 20px;
}

#login-btn {
  margin: 0.6rem 0.8rem;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background-color: #ffbade;
  color: black;
  font-size: 12px;
  cursor: pointer;
}

/*Carousel*/
#spotlight-carousel {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 800%;
  height: 22rem;
  overflow: hidden;
}

#carousel-nav {
  position: absolute;
  top: 30%;
  left: 11.8%;
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 1rem;
  z-index: 2;
}

.carousel-nav-option {
  width: 0.5rem;
  border-radius: 50%;
  background-color: #fefffc;
  cursor: pointer;
  aspect-ratio: 1 / 1;
}

.carousel-nav-option-active {
  background-color: #eac520;
}

.carousel-slide { /*PERBAIKIN BACKGROUND WARNA GRADIENNYA SUPAYA LEBIH TRANSPARAN BAGIAN BAWAHNYA SESUAI ASLI*/
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at top center, transparent, #1f1f3070, #1f1f30, #1f1f30), url(https://cdn.noitatnemucod.net/thumbnail/1366x768/100/ebfb13a2099d3029ecd3cbf381d675aa.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  transition: all 1s ease;
}

.carousel-slide h2 {
  color: #ffbade;
  font-size: 14px;
  font-weight: 500;
}

.carousel-slide h1 {
  margin-top: 0;
  padding-right: 5rem;
  color: white;
  font-size: 19px;
}

.carousel-cta {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}


.carousel-watch-btn {
  display: flex;
  align-items: center;
}

.carousel-watch-btn a {
  padding: 0.6rem 1rem;
  border-radius: 1.5rem;
  background-color: #ffbade;
  color: black;
  font-size: 14px;
  text-decoration: none;
}

.carousel-detail-btn {
  padding: 0.6rem 1rem;
  border-radius: 1.5rem;
  background-color: #3b3951;
  color: white;
  font-size: 15px;
  text-decoration: none;
}

/*Trending*/
#trending-sect h1 {
  padding: 1rem;
  color: #ffbade;
  font-size: 22px;
}

#trending-slider {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  overflow: hidden;
}

.trending-slide {
  position: relative;
  flex-shrink: 0;
  width: 10rem;
}

.trending-slide a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.trending-slide img {
  width: 100%;
}

.trending-slide span {
  position: absolute;
  left: 0;
  padding: 0.5rem;
  background-color: white;
  color: black;
  font-size: 18px;
}

/*Share section*/
#share-sect {
  margin-left: 1rem;
  display: grid;
  flex-direction: row;
}

#share-title {
  margin: 0;
  color: #ffbade;
  font-size: 14px;
}

#share-secd-title {
  margin: 0.3rem 0;
  color: #c6c6ce;
  font-size: 12px;
}

#share-body {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
}

#share-count {
  width: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#share-count * {
  margin: 0;
  color: rgb(99, 99, 99);
  font-weight: 500;
}

#share-count p {
  font-size: 10px;
}

.share-btn {
  margin-left: 0.5rem;
  display: flex;
  align-self: top;
  align-items: center;
  justify-content: center;
  width: 3.3rem;
  height: 2rem;
  border-radius: 2rem;
  color: white;
  cursor: pointer;
  transform: translateY(0%);
  transition: all 0.4s ease;
}

.share-btn:hover {
  opacity: 0.8;
  transform: translateY(-20%);
}

#share-telegram {
  background-color: #008ad0;
}

#share-twitter {
  background-color: black;
}

#share-facebook {
  background-color: #4266b0;
}

#share-reddit {
  background-color: #ff4600;
}

#share-general {
  background-color: #95d038;
}


/*Comment section*/
#comment-sect {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 7rem;
  background-color: #2b2a3c;
}

#show-comment {
  position: relative;
  padding: 0.7rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #6e6f73 solid 1px;
  border-radius: 0.7rem;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

/*Comment toggle btn*/
#check {
  display: none;
}

#show-comment-toggle {
  position: relative;
  margin-left: 1rem;
  width: 2rem;
  height: 1rem;
  border-radius: 1rem;
  background-color: #565564;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

#show-comment-toggle::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #a8aaad;
  transform: translateY(-50%);
  transition: all 0.5s ease;
}

#check:checked + #show-comment-toggle {
  background-color: #565563;
}

#check:checked + #show-comment-toggle::before {
  background-color: #ffbade;
  transform: translateX(100%) translateY(-50%);
}


/*Main content*/
#main-content {
  width: 100%;
  padding: 0 1rem;
}

.main-content-title {
  padding-top: 1rem;
  color: #ffbbde;
  font-size: 16px;
}

/*Top airing*/
.main-content-card {
  position: relative;
  padding: 1rem 0;
  display: flex;
  width: 100%;
  height: 5rem;
}

.main-content-card::before {
  content: "";
  position: absolute;
  bottom: 0%;
  height: 1px;
  width: 100%;
  background-color: white;
  opacity: 0.1;
}

.main-content-card-img {
  position: relative;
  padding-right: 1rem;
  width: fit-content;
  height: 100%;
  border-radius: 0.5rem;
}

.main-content-card-img a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-content-card-img img {
  height: 100%;
  border-radius: 0.5rem;
}

.main-content-card-meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 0;
}

.main-content-card-meta a {
  padding-right: 2rem;
  width: 100%;
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.2s;
  box-sizing: border-box;
}

.main-content-card-meta a:hover {
  color: #ffbbde;
}

.main-content-card-meta div {
  padding-top: 0.5rem;
}


.main-content-card-meta span {
  font-size: 12px;
}

.card-meta-sub {
  margin-right: 0.2rem;
  padding: 0.2rem 0.3rem;
  border-radius: 0.3rem;
  background-color: #b0e1ac;
  font-weight: 600;
}

.card-meta-dub {
  margin-right: 0.2rem;
  padding: 0.2rem 0.3rem;
  border-radius: 0.3rem;
  background-color: #b6ecff;
  font-weight: 600;
}

.card-meta-type {
  color: white;
}

.main-view-btn {
  margin-top: 1rem;
  display: block;
  width: 100%;
  color: white;
  text-decoration: none;
}

.main-view-btn:hover {
  color: #ffbbde;
}


/*Secondary content*/
#secondary-content {
  margin: 1rem;
  padding-top: 1rem;
}

#latest-episode-sect {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.secondary-content-head {
  margin-bottom: 1rem;
  display: flex;
}

.secondary-content-head h1 {
  display: inline;
  color: #ffbbde;
  font-size: 21px;
}

.secondary-view-btn {
  margin-left: auto;
  display: flex;
  align-items: center;
  color: rgb(167, 167, 167);
  font-size: 12px;
  text-decoration: none;
}

.secondary-card-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 1rem;
  flex-wrap: wrap;
}

.secondary-content-card {
  flex-grow: 1;
  width: calc((100% - (1rem * 3)) / 3);
}

.secondary-content-card-img {
  position: relative;
  overflow: hidden;
}

.secondary-content-card-img a {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #201f31, transparent, transparent);
}

.secondary-content-card-img img {
  width: 100%;
}

.secondary-content-card-img div {
  position: absolute;
  left: 6%;
  bottom: 7%;
}

.card-sub {
  margin-right: 0.2rem;
  padding: 0.2rem 0.3rem;
  border-radius: 0.3rem;
  background-color: #b0e1ac;
  font-size: 12px;
  font-weight: 600;
}

.card-dub {
  margin-right: 0.2rem;
  padding: 0.2rem 0.3rem;
  border-radius: 0.3rem;
  background-color: #b6ecff;
  font-size: 12px;
  font-weight: 600;
}

.secondary-content-card-meta a {
  display: block;
  width: 100%;
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.card-type {
  color: rgb(156, 156, 156);
  font-size: 14px;
}